<form method="post">
    <label>Name</label>
    <input type="text" name="text1" value="{{mydata.user_name}}" placeholder="Name">
    <label>Email</label>
    <input type="email" name="text2" value="{{mydata.user_email}}" placeholder="email">
    <label>Mobile Number</label>
    <input type="number" name="text3" value="{{mydata.user_Mobile}}" placeholder="Mobile Number">
    <button>Submit</button>
</form>