<html>
    <head>
        <meta charset="utf-8">
        <title>Add Data</title>
    </head>
    <body>
        <form method="POST" action="add">
            <div>
                <label>Add Country</label>
                <input type="text" name="name">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>