<table border="1">
    <tr>
        <th>Country name</th>
    </tr>
    {{#each mydata}}
        <tr>
            <td>{{country_name}}</td>
            <td>
                <a href="/country/edit/{{_id}}">Edit</a>
                <a href="/country/delete/{{_id}}">Delete</a>
            </td>
        </tr>
    {{/each}}
</table>