<html>
    <head>
        <link rel="stylesheet" href="/public/stylesheets/style.css">
    </head>
    <body>
 
        <form method="post" action="add-process">
            <div>
                <label>Name</label>
                <input type="text" name="text1" placeholder="Name">
            </div>
            <div>
                <label>Email</label>
                <input type="email" name="text2" placeholder="email">
            </div>
            <div>
                <label>Mobile Number</label>
                <input type="number" name="text3" placeholder="Mobile Number">
            </div>
            <div>
            <button>Submit</button>
            </div>

        </form>
    </body>
</html>