<html>
    <head>
        <meta charset="utf-8">
        <title>Add States</title>
    </head>
    <body>
        <form method="POST" action="add">
            <div>
                <label>Add State</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>Select Country</label>
                <select name="_country">
                    {{#each mydata}}
                        <option value="{{this._id}}">{{this.country_name}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </body>
</html>