<html>
    <head>
        <meta charset="utf-8">
        <title>Add States</title>
    </head>
    <body>
        <form method="POST">
            <div>
                <label>Add State</label>
                <input type="text" value="{{mydata.state_name}}" name="name">
            </div>
            {{!-- <div>
                <label>Select Country</label>
                <input type="text" value="{{mydata._country}}" name="_country">
            </div> --}}
            <div>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </body>
</html>