body {
  background-color:burlywood;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
div{
  margin-bottom: 20px;
}
label{
  display: inline-block;
  width: 150px;
}
a {
  color: #00B7FF;
}
